@font-face {
  font-family: 'Patika';
  src: url('./Patika/Patika-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Patika';
  src: url('./Patika/Patika-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Patika';
  src: url('./Patika/Patika-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Patika';
  src: url('./Patika/Patika-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Patika';
  src: url('./Patika/Patika-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Patika';
  src: url('./Patika/Patika-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Patika';
  src: url('./Patika/Patika-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Patika';
  src: url('./Patika/Patika-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
